[submodule "core"]
	path = core
	url = https://github.com/cakephp/cakephp.git
[submodule "app/plugins/debug_kit"]
	path = app/plugins/debug_kit
	url = https://github.com/cakephp/debug_kit.git
[submodule "app/plugins/migrations"]
	path = app/plugins/migrations
	url = https://github.com/CakeDC/migrations.git
